.nav-bar{
    margin-right: 5rem;
    margin-left: 5rem;
    margin-bottom: 5rem;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li{
    float: left;
    border-right: 1px solid #161616;
    background-color: black;
}

li:last-child{
    border-right: none;
}

li a{
    display: block;
    font-size: 1.25rem;
    color: #FFFFFF;
    background-color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.active{
    background-color: royalblue;
}
.last{
     float: right;
}